@model IQueryable<EventItem>
@{
    string strTitle = "Event Manager";
    ViewBag.Title = strTitle;
    Dictionary<Guid, int> eventCount = ViewBag.EventCount;
}

<div class="container py-5">

    <div class="card mb-4 box" id="tables">
        
        <a asp-area="" asp-controller="Account" asp-action="Index">
            <button type="button" class="btn border-black">
                <strong>Вернуться на панель администратора</strong>
            </button>
        </a>
        <br />
        <h3 class="section-title">Список событий</h3>
        <div class="card-body">

            <div class="blog-posts">

                <div class="isotope row">


                    <!-- /.post -->
                    <!-- /.post -->

                    @foreach (EventItem eventItem in Model)
                    {
                        <div class="col-md-6 col-sm-12 post-grid">

                            <div class="post box">

                                <div class="meta"><span class="date">@eventItem.DateStart.ToShortDateString() -  @eventItem.DateEnd.ToShortDateString()</span></div>
                                <h2 class="post-title"><a href="blog-post.html">@eventItem.Name</a></h2>
                                <p>Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>
                                <form asp-action="Delete" asp-route-id="@eventItem.Id" method="post">
                                    <button type="submit" class="btn btn-red btn-danger">
                                        <strong>Удалить</strong>
                                    </button>
                                </form>
                            </div>
                        </div>
                    }

                </div>
                <!-- /column -->
            </div>
            <a asp-controller="Events" asp-action="Create">
                <button type="button" class="btn border-black">
                    <strong>Создать событие</strong>
                </button>
            </a>
        </div>
    </div>

</div>



