@model IQueryable<EventItem>
@{
    string strTitle = "Event Manager";
    ViewBag.Title = strTitle;
}

<div class="container py-5">
    <a asp-area="" asp-controller="Account" asp-action="Manage">Вернуться на панель администратора</a>
    <br />
    <div class="card mb-4" id="tables">
        <div class="card-header">Список событий</div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EventItem eventItem in Model)
                    {
                        <tr>
                            <td>@eventItem.Name</td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@eventItem.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <strong>Удалить</strong>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a asp-action="Create"><strong>Создать событие</strong></a>
</div>