@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="container py-5">
   
    <div class="card mb-4 box" id="tables">
        <a asp-area="" asp-controller="Account" asp-action="Index">Вернуться на панель администратора</a>
        <h3 class="section-title">Список ролей</h3>
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td><h4>@role.Name</h4></td>
                            <td>
                                <form asp-area="Admin" asp-action="Delete" asp-route-id="@role.Id" method="post">
                                    <button type="submit" class="btn btn-red btn-danger">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-area="Admin" asp-controller="Roles" asp-action="Create">Добавить роль</a>
            <a asp-area="Admin" asp-controller="Roles" asp-action="UserList">Список пользователей</a>
        </div>
    </div>
</div>