@{
    ViewData["Title"] = "Home Page";
}

        <div class="container">
            <section id="portfolio" class="portfolio">
                <div class="box">
                    <h2 class="section-title pull-left">Our Activity</h2>
                    <div id="filters-container" class="cbp-l-filters-alignRight pull-right">
                        <div data-filter="*" class="cbp-filter-item-custom-active cbp-filter-item-custom btn">All</div>
                        <div data-filter=".architecture" class="cbp-filter-item-custom btn">Сorporate</div>
                        <div data-filter=".macro" class="cbp-filter-item-custom btn">Teamwork</div>
                        
                    </div>
                    <!-- /#filters-container -->
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                        <ul>
                            <li class="cbp-item frame macro">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post1.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_1.jfif" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Thumbnail Slider</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame macro">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post2.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_2.jfif" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Fullscreen Gallery</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame macro">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post3.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_3.jfif" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Multiple Images</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame macro">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post4.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_4.jfif" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Fullwidth Video</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame architecture">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post1.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_5.jfif" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Thumbnail Slider</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame architecture">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post2.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_6.jfif" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Fullscreen Gallery</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame architecture">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post3.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_7.jpg" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Multiple Images</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame architecture">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post4.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="~/images/art/bg_worker_8.jfif" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Fullwidth Video</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.cbp-l-grid-masonry -->
                   
                </div>
                <!-- /.box -->
            </section>
            <!-- /#portfolio -->

            <section id="about">
                <div class="box">
                    <h2 class="section-title">About us</h2>
                    <div class="row">
                        <div class="col-md-5 col-md-push-7 col-sm-12">
                            <figure class="frame"><img src="~/images/art/bg_work_9.jpg" alt="" /></figure>
                        </div>
                        <!-- /column -->
                        <div class="col-md-7 col-md-pull-5 col-sm-12">
                            <p class="lead">You said hello to me. </p>
                            <p> Well, this is how the About Us section of an eight-hour day begins - a welcome greeting. </p>
                            <p> For this reason, it also made us look for more.</p>
                            <p> Why?</p>
                            <p> Since you love good design and inspiring illustrations, you also want to meet people who curate all the content for you.</p>
                            <p>In addition, it is no less pleasant when you realize that they are also eager to start a visual dialogue with you.</p>
                            <p> Nathan Strandberg and Katie Kirk do what makes them happy, and this is evident throughout their page.</p>
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                    <div class="clearfix"></div>
                    <div class="divide40"></div>
                   
                    <!-- /.services -->

                </div>
                <!-- /.box -->
            </section>
            <!-- /#about -->

            <section id="contact">
                <div class="box">
                    <h2 class="section-title">Get in Touch with Me</h2>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <div class="divide20"></div>
                    <div class="row text-center services-2">
                        <div class="col-md-3 col-sm-6">
                            <i class="budicon-map"></i>
                            <p>
                                Moon Street Light Avenue <br />
                                14/05 Jupiter, JP 80630
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <i class="budicon-telephone"></i>
                            <p>
                                00 (123) 456 78 90 <br />
                                00 (987) 654 32 10
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <i class="budicon-mobile"></i>
                            <p>
                                00 (123) 456 78 90 <br />
                                00 (987) 654 32 10
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <i class="budicon-mail"></i>
                            <p>
                                <a class="nocolor" href="mailto:#">manager@email.com</a> <br />
                                <a class="nocolor" href="mailto:#">asistant@email.com</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.services-2 -->
                   
                    <!-- /.form-container -->

                </div>
                <!-- /.box -->
            </section>
            <!-- /#contact -->

            <footer class="footer box">
                <p class="pull-left">© 2015 Lumos. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
                <ul class="social pull-right">
                    <li><a href="#"><i class="icon-s-rss"></i></a></li>
                    <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-s-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-s-vimeo"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer -->

        </div>
        <!-- /.container -->

   
