@{
    string strTitle = "User Manager";
    ViewBag.Title = strTitle;
}

<div class="container py-5">
   
    <div class="card mb-4 box" id="tables">
        <a asp-area="" asp-controller="Account" asp-action="Manage">Вернуться на панель администратора</a>
        <br />
        <h3 class="section-title">Список сотрудников</h3>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                    <a class="btn btn-gray btn-primary" asp-action="Edit" asp-route-id="@user.Id"><strong>Изменить</strong></a>
                                    <button type="submit" class="btn btn-red btn-danger">
                                        <strong>Удалить</strong>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a asp-action="Create"><strong>Добавить сотрудника</strong></a>
    </div>
   
</div>
