@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Мой профиль";
}
@{

    User user = await UserManager.FindByNameAsync(User.Identity.Name);

    if (UserManager.IsInRoleAsync(user, "admin").Result)
    {
   
        <section class="box">
          
                <div class="row">
                    <h3 >Управление сотрудниками</h3>
                </div>
                <div class="row"><a asp-area="" asp-controller="Users" asp-action="Index">User Manager</a></div>
                <div class="row">
                    <h3>Управление ролями</h3>
                </div>
                <div class="row"><a asp-area="" asp-controller="Roles" asp-action="Index">Roles Manager</a></div>
                <div class="row">
                    <h3>Управление событиями</h3>
                </div>
                <div class="row"><a asp-area="" asp-controller="Events" asp-action="Index">Events Manager</a></div>

            
        </section>
     
    }
    else if (UserManager.IsInRoleAsync(user, "moderator").Result)
    {
    <section class="box">
        <div class="row">
            <h3>Управление сотрудниками</h3>
        </div>
        <div class="row"><a asp-area="" asp-controller="Users" asp-action="Index">User Manager</a></div>
        <div class="row">
            <h3>Управление событиями</h3>
        </div>
        <div class="row"><a asp-area="" asp-controller="Events" asp-action="Index">Events Manager</a></div>
    </section>
    }
    else
    {
    <section class="box">
        <p>Имя: @user.UserName</p>
        <p>Должность: @user.Position</p>
    </section>
    }

    }

